*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: clamp(250px, 15%, 350px) repeat(auto-fit, minmax(1000px, 1fr));
}

.nav{
    background-color: #008DD6;
}

.nav .primary, .nav .secondary{
    margin: 50px 0;
}

.nav>div>div>img{
    margin: 5px 30px;
    filter: invert(100%) sepia(45%) saturate(144%) hue-rotate(158deg) brightness(115%) contrast(100%);
}

.nav>div>div{
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: white;
}

.logo>svg{
    margin: 0 15px;
    filter: invert(100%) sepia(45%) saturate(144%) hue-rotate(158deg) brightness(115%) contrast(100%);
}

header{
    padding: 40px 15px;
}